/* src/App.css */

.App {
    font-family: sans-serif;
    text-align: center;
}

.header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    padding-left: 20px;
    font-size: calc(10px + 2vmin);
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.code-box {
    width: 40%;
    margin: 0 5%;
}

.code-box textarea {
    width: 100%;
    height: 300px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-container button:hover {
    background-color: #0056b3;
}

.load-files {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.load-files button{
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    transition: background-color 0.2s;
    margin-right: 10px;
    margin-left: 10px;
}

.load-files button:hover{
    background-color: #E6E6E6;
}

.editor-container{
    flex: 1;
    border: 1px solid black;
    padding: 10px;
}